.container {
  width: 200px;
  background: none;
  border: none;
  outline: none;
  font-family: 'poppins';
  font-size: 16px;
  padding: 6px;
  transition: ease 0.2s;
  border: 2px solid;
  border-color: #eee;
  border-radius: 10px;

  &:focus,
  &:active {
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px #0081c9;
    border: 3px solid;
    border-color: #5bc1f86a;
  }
}
