@use '../../index.scss' as main;

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
  gap: 1.6rem;

  @media screen and (max-width: 740px) {
    flex-direction: column;
  }

  @media screen and (max-width: 525px) {
    padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
    gap: 0.8rem;
  }

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);

    @media screen and (max-width: 525px) {
      font-size: 28px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: var(--max-w);
  padding: 0rem 2rem 2rem;
  gap: 2rem;

  @media screen and (max-width: 525px) {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
  }

  .form_container {
    padding: 1rem;

    @media screen and (max-width: 600px) {
      padding-top: 0;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #282828;

      @media screen and (max-width: 525px) {
        padding: 0;
        padding-bottom: 0.5rem;
      }
    }

    .filterArea {
      display: flex;
      margin-top: 2rem;
      padding: 0.5rem;
      gap: 2px;
      border-radius: 6px;
      background-color: #d8d2d270;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border: rgba(0, 0, 0, 0.1) solid 1px;
      width: 100%;
      height: fit-content;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
      }
    }

    .filters {
      display: flex;
      gap: 0.5rem;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
      }

      .dropdown {
        border-radius: 6px;
        height: fit-content;
        position: relative;
      }
    }

    .buttonArea {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      width: 100%;
      margin-top: 1rem;

      .icons8MicrosoftExcel {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiI+CjxwYXRoIGQ9Ik0gMTUuODc1IDQgTCAxNS43ODEyNSA0LjAzMTI1IEwgNC43ODEyNSA2LjQ2ODc1IEwgNCA2LjY1NjI1IEwgNCAyNS4zNDM3NSBMIDQuNzgxMjUgMjUuNTMxMjUgTCAxNS43ODEyNSAyNy45Njg3NSBMIDE1Ljg3NSAyOCBMIDE4IDI4IEwgMTggMjUgTCAyOCAyNSBMIDI4IDcgTCAxOCA3IEwgMTggNCBaIE0gMTYgNi4wMzEyNSBMIDE2IDI1Ljk2ODc1IEwgNiAyMy43ODEyNSBMIDYgOC4yMTg3NSBaIE0gMTggOSBMIDI2IDkgTCAyNiAyMyBMIDE4IDIzIEwgMTggMjEgTCAyMCAyMSBMIDIwIDE5IEwgMTggMTkgTCAxOCAxOCBMIDIwIDE4IEwgMjAgMTYgTCAxOCAxNiBMIDE4IDE1IEwgMjAgMTUgTCAyMCAxMyBMIDE4IDEzIEwgMTggMTIgTCAyMCAxMiBMIDIwIDEwIEwgMTggMTAgWiBNIDIxIDEwIEwgMjEgMTIgTCAyNSAxMiBMIDI1IDEwIFogTSAxNC4xNTYyNSAxMSBMIDExLjg3NSAxMS4yODEyNSBMIDEwLjYyNSAxMy45Njg3NSBDIDEwLjQ5MjE4OCAxNC4zNTU0NjkgMTAuMzk0NTMxIDE0LjY0ODQzOCAxMC4zNDM3NSAxNC44NDM3NSBMIDEwLjMxMjUgMTQuODQzNzUgQyAxMC4yMzQzNzUgMTQuNTE5NTMxIDEwLjE2MDE1NiAxNC4yMzgyODEgMTAuMDYyNSAxNCBMIDkuNDM3NSAxMS42ODc1IEwgNy4zMTI1IDExLjkzNzUgTCA3LjIxODc1IDEyIEwgOSAxNiBMIDcgMjAgTCA5LjE1NjI1IDIwLjI1IEwgMTAuMDMxMjUgMTcuNzgxMjUgQyAxMC4xMzY3MTkgMTcuNDY4NzUgMTAuMjIyNjU2IDE3LjIxNDg0NCAxMC4yNSAxNy4wNjI1IEwgMTAuMjgxMjUgMTcuMDYyNSBDIDEwLjMzOTg0NCAxNy4zODY3MTkgMTAuMzc4OTA2IDE3LjYyODkwNiAxMC40Mzc1IDE3Ljc1IEwgMTEuNzgxMjUgMjAuNjg3NSBMIDE0LjIxODc1IDIxIEwgMTEuNTYyNSAxNS45Njg3NSBaIE0gMjEgMTMgTCAyMSAxNSBMIDI1IDE1IEwgMjUgMTMgWiBNIDIxIDE2IEwgMjEgMTggTCAyNSAxOCBMIDI1IDE2IFogTSAyMSAxOSBMIDIxIDIxIEwgMjUgMjEgTCAyNSAxOSBaIj48L3BhdGg+Cjwvc3ZnPg==')
          50% 50% no-repeat;
        background-size: 100%;

        :hover {
          scale: 1.1;
        }
      }
    }

    .apply_btn {
      margin-top: 1rem;
    }
  }

  .table_container {
    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 1px;
    }
  }
}
