@use '../../index.scss' as main;

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
  gap: 1.6rem;

  @media screen and (max-width: 740px) {
    flex-direction: column;
  }

  @media screen and (max-width: 525px) {
    padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
    gap: 0.8rem;
  }

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);

    @media screen and (max-width: 525px) {
      font-size: 28px;
    }
  }
}

.content {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: var(--max-w);
  padding: 1rem 2rem;
  gap: 1.6rem;

  @media screen and (max-width: 525px) {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
  }

  .table_container {
    max-width: 70vw;
    padding: 1rem;
    background-color: white;

    @media screen and (max-width: 880px) {
      max-width: 100vw;
    }
  }

  .table {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .filter_container {
    width: 270px;
    flex-shrink: 0.2;
    top: calc(var(--nav-height) + 1.6rem);
    max-height: calc((100vh - var(--nav-height) - 3rem));
    position: sticky;

    @media screen and (max-width: 880px) {
      display: none;
    }
  }

  .filter_mobile_container {
    display: none;

    @media screen and (max-width: 880px) {
      display: flex;
      float: right;
      position: fixed;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      justify-content: center;
      bottom: 0;
      right: 0;
      margin: 0px 10px 20px;
      background-color: var(--custom-white-v1);
      padding-top: 15px;

      &:hover {
        color: #aaa;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
