.container {
  display: flex;
  flex-direction: row;
  padding: 2px;
  width: max-content;

  .label {
    font-weight: 600;
    flex-shrink: 0;
  }
  .value {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1225px) {
  .container p {
    font-size: 12px;
  }
}
