.container{
    display: flex;
    .section{
        width:100%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: var(--card-shadow);
        padding: 1rem;
        height: 100vh;

        .heading{
            font-size: 38px;
            font-weight: 600;
            text-align: center;
        }

        @media only screen and (max-width:1040px){
            display: none;
        }
        
    }
    .content{
        max-width: 480;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        width: 100%;
        position: sticky;

        .heading{
            font-size: 38px;
            font-weight: 600;
            text-align: center;
            display: none;

            @media screen and (max-width:1040px) {
                display: block;
                font-size: 34px;
                
            }
            @media screen and (max-width:580px) {
                display: block;
                font-size: 30px;
                
            }
        }

        .animation{
            width:400px;
            height: 400px;
        }

        ::-webkit-scrollbar{
            width: 2px;
            border-radius: 2px;            
        }
            .form_container{
            display:flex;
            flex-direction: column;
            width: 80%;
            max-width: 550px;
            height: 700px;
            overflow: hidden;
            overflow-y: auto;
            padding: 2rem;


            .description{
                height: 280px;
            }

            @media screen and (max-width:950px) {
                width: 100%;
                height: 100%;
                overflow: auto;
                
            }

            @media screen and (max-width:580px) {
                width: 100%;
                height: 100%;
                overflow: auto;
                
            }
        }

        @media screen and (max-width:580px){
            padding: 1rem;
        }
        

        
    }
}