.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 1.2rem;

  .label {
    font-size: 15px;
    padding-bottom: 2px;
    color: #6a6868;
    font-weight: 600;
  }

  .field {
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 6px;
    border: 1px solid;
    border-color: inherit;
    border-radius: 0.375rem;

    &:focus,
    &:active {
      outline: 2px solid #1976d2;
    }
  }
}
