.list_item {
  list-style-type: none;

  .student_url {
    text-decoration: none;
    color: black;

    .student_data {
      display: flex;
      flex-direction: row;
      padding: 30px 0 0 10px;

      .student_photo {
        padding: 12px 12px;
        margin-right: 20px;
        align-items: center;
        background-color: rgb(245, 245, 245);
        border-radius: 6px;
        justify-content: center;
      }

      .student_name {
        font-size: 16px;
        font-weight: 600;
      }

      .student_date {
        font-size: 0.91em;
        color: rgb(181, 181, 181);
      }
    }
  }
}
