.navbar {
  background-color: white;
  display: flex;
  justify-content: flex-start;
}

.logo {
  margin: 10px;
  height: 70px;
  width: 70px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 450px;
  font-size: xx-large;
}
