.display {
  display: flex;

  .middle_left {
    width: 80%;

    .mlbody {
      margin: 15px 15px 15px 15px;
      justify-content: flex-start;

      .card_margins {
        margin: 25px 15px 25px 15px;
        padding: 2px 2px 2px 2px;
      }
    }

    @media screen and (max-width: 1080px) {
      width: 100%;
    }
  }

  .middle_right {
    width: 25%;

    .mrbody {
      margin: 15px 0px 15px 0px;
      justify-content: flex-start;
      margin-top: 25px;

      .filters {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--custom-white-v1);
        padding: 1rem;
        border-radius: 10px;

        .filter_head {
          display: flex;

          .tag {
            width: 60%;
          }

          .modal {
            width: 40%;
            font-size: x-small;
            padding-right: 5px;

            .button {
              float: right;
            }
          }
        }

        @media screen and (max-width: 1080px) {
          display: none;
        }
      }
    }

    @media screen and (max-width: 1080px) {
      width: 0px;
    }
  }

  .right {
    width: 5%;
    display: none;
    float: right;

    @media screen and (max-width: 1080px) {
      display: flex;
      float: right;
      position: fixed;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      justify-content: center;
      bottom: 0;
      right: 0;
      margin-bottom: 20px;
      background-color: var(--custom-white-v1);
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 1350px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 520px) {
    padding: 1.25rem;
  }
}

.head {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-color-primary);
  padding: calc(3rem + var(--nav-height)) 2.5rem 1rem 2.5rem;

  @media screen and (max-width: 1350px) {
    padding-left: 2rem;
  }

  @media screen and (max-width: 520px) {
    font-size: 32px;
    padding: calc(2rem + var(--nav-height)) 1rem 0.5rem 1rem;
  }
}

.seperator {
  height: 1px;
  background-color: #cfd2cf;
  border-radius: 5px;
  margin-top: 1rem;
}
