.display {
  display: flex;
  &::-webkit-scrollbar {
    display: none;
  }

  .middle_left {
    width: 80%;

    .mlbody {
      margin: 15px 15px 15px 15px;

      .card_margins {
        margin: 35px 15px 35px 15px;
        padding: 2px 2px 2px 2px;
      }
    }
  }

  .middle_right {
    width: 20%;

    .mrbody {
      margin: 15px 0px 15px 15px;

      .filters {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--custom-white-v1);
        padding: 1rem;

        .company {
          .chead {
            display: flex;

            .tag {
              width: 60%;
            }

            .modal {
              width: 40%;
              font-size: x-small;
              padding-right: 5px;

              .button {
                float: right;
              }
            }
          }
        }
      }
    }
  }

  .right {
    width: 10%;
  }
}

.head {
  height: 60px;
  margin: 15px 15px 15px 15px;
}

.seperator {
  border-bottom: 3px solid #cfd2cf;
  border-radius: 30px;
}

@media only screen and (max-width: 786px) {
  .middle_right {
    width: 80%;
  }
  .middle_left {
    display: none;
  }
}
