/* App.scss */

.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // text-align: center;
  width: 35rem;
  height: auto;
  font: 1em sans-serif;

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
  }
}
