.header_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: var(--max-w);
  padding: calc(2rem + var(--nav-height)) 0.9rem 2.8rem 2rem;

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);

    @media screen and (max-width: 520px) {
      font-size: 28px;
      padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
    }
  }

  .year_filter {
    background-color: white;
    border-radius: 6px;
    height: fit-content;
  }
}

.body_container {
  max-width: var(--max-w);
  margin: auto;

  .course_container {
    padding-bottom: 0.7rem;
    border-radius: 8px;
    background-color: white;
    margin: 0rem 1rem 2rem 2rem;

    .course_title {
      padding: 0.7rem 0rem 0.7rem 1rem;
      font-weight: 500;
    }
  }
}
