@use '../../index.scss' as main;

.page_name {
  font-size: var(--lg-heading);
  font-weight: 600;
  color: var(--text-color-primary);
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
  max-width: var(--max-w);
  margin: auto;

  @media screen and (max-width: 525px) {
    font-size: 28px;
    padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 2rem;
  gap: 1.6rem;
  width: fit-content;
  margin: auto;

  .side_panel {
    width: 270px;
    position: sticky;
    top: calc(var(--nav-height) + 1.6rem);
    overflow-y: auto;
    max-height: calc((100vh - var(--nav-height) - 3rem));
    flex-shrink: 0.2;

    @include main.thin-scrollbar;

    .sidepanel_card {
      background-color: rgb(254, 254, 254);
      padding: 1rem;
      border-radius: 8px;

      &:last-child {
        margin-top: 1.6rem;
      }

      h1 {
        font-size: var(--md-heading);
        font-weight: 600;
        color: var(--text-color-primary);
      }

      .list_container {
        .list_item {
          text-decoration: none;
          display: flex;
          margin-top: 0.8rem;

          .pic {
            padding: 8px 10px;
            margin-right: 14px;
            align-items: center;
            background-color: rgb(245, 245, 245);
            border-radius: 5px;
            justify-content: center;
          }

          .info {
            .name {
              font-size: 14px;
              color: var(--text-color-primary);
              font-weight: 600;
            }

            .date {
              font-size: 13px;
              color: rgb(181, 181, 181);
            }
          }
        }
      }
    }

    @media screen and (max-width: 880px) {
      display: none;
    }
  }

  @media screen and (max-width: 525px) {
    padding: 1rem;
  }
}
