.card {
  background-color: var(--custom-white-v1);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 100%;
  position: relative;
  // border: 1px rgba(220, 26, 26, 0.434);

  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(124, 121, 121, 0.046);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: transform 0.3s ease;

  &:hover {
    // background: linear-gradient(45deg, #d4a299, #dab87a);
    background: rgba(250, 250, 250, 0.972);
    box-shadow: 0 3px 3px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(110, 108, 108, 0.188);
  }

  .container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .main_container {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 40rem;

      @media screen and (max-width: 525px) {
        flex-direction: column;
      }

      .company_image {
        width: 96px;
        height: 96px;
        border-radius: 8px;

        @media screen and (max-width: 525px) {
          border-radius: 50%;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        align-self: flex-start;
        gap: 0.3rem;

        @media screen and (max-width: 525px) {
          align-items: center;
        }

        .company_name {
          font-size: 22px;
          font-weight: 500;
        }

        .company_details {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          gap: 0.8rem;

          .company_info_1 {
            display: flex;
            gap: 0.8rem;

            @media screen and (max-width: 525px) {
              display: flex;
              flex-wrap: wrap;
              gap: 0.8rem;
              justify-content: center;
            }
          }

          .company_info_2 {
            display: flex;
            gap: 0.8rem;

            @media screen and (max-width: 525px) {
              display: flex;
              flex-wrap: wrap;
              gap: 0.8rem;
              justify-content: center;
            }
          }
        }
      }
    }

    .link {
      text-decoration: none;
      place-self: start normal;
      margin-top: 0.5rem;
      max-width: 135px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

      .jd_link {
        text-decoration: none;
        margin: 0.5rem;

        @media screen and (max-width: 525px) {
          place-self: center normal;
          margin-top: 0.5rem;
        }
      }

      .upcoming {
        color: #fff;
        background: linear-gradient(40deg, #45cafc, #324098);
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 14px;
        border-radius: 4px;
        flex-shrink: 1;
        position: absolute;
      }

      .ongoing {
        color: #fff;
        background: linear-gradient(45deg, #ffc04b, #ff6347);
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: 14px;
        border-radius: 4px;
        flex-shrink: 1;
        position: absolute;
      }

      @keyframes pulse {
        0% {
          background-position: 0 0;
        }

        100% {
          background-position: 100% 0;
        }
      }

      .ongoing {
        background-size: 200% 100%; /* Horizontal gradient */
        // animation: pulse 1s linear infinite;
      }

      @media screen and (max-width: 525px) {
        place-self: center normal;
        margin-top: 0.5rem;
      }
    }
  }

  .separator {
    height: 1px;
    background-color: #cfd2cf;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .bottom_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 0.5rem;

    .eligible_batches_list {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      gap: 0.5rem;
      padding-right: 1.5rem;

      &::-webkit-scrollbar {
        display: none;
      }

      .tag {
        margin: 10px 0;
        width: max-content;

        span {
          padding: 2px 15px;
          border-radius: 20px;
          background-color: lightblue;
          font-size: small;
          white-space: nowrap;
        }
      }
    }
  }

  @media screen and (max-width: 525px) {
    padding: 1rem;
    min-width: 100%;

    .container {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.buttonArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.dropdown {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .gap {
    margin-left: 5px;
  }
}

.ellipsis {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1px;
  top: 3px;
  right: 19px;
  font-size: 20px;
  color: #333;
}

.editBtn {
  margin: 2px;
}
