@use '../../index.scss' as main;

.lottie_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .animation_container {
    height: 400px;
    width: 400px;

    @media screen and (max-width: 650px) {
      height: 300px;
      width: 300px;
    }
  }

  .heading {
    font-size: 25px;
    font-weight: 600;
  }

  .para {
    font-size: 20px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-w);
  margin: auto;
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
  gap: 1.6rem;

  @media screen and (max-width: 740px) {
    flex-direction: column;
  }

  @media screen and (max-width: 525px) {
    padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
    width: 35rem;
    gap: 0.8rem;
  }

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);

    @media screen and (max-width: 525px) {
      font-size: 28px;
    }
  }

  .slot_booking_page {
    padding: 20px;

    .slot_list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: var(--max-w);
  padding: 1rem 1rem;
  gap: 2rem;

  @media screen and (max-width: 525px) {
    flex-direction: column;
    padding: 3rem;
    gap: 0.3rem;
    width: 35rem;
    align-items: center;
  }
}
