.profile_container {
  height: 100vh;

  .top_container {
    display: grid;
    grid-template-columns: repeat(2, auto);

    .user_profile_info {
      display: flex;
      flex-direction: row;
      width: 98%;
      padding: 10px;
      border-radius: 10px;
      max-width: 900px;
      box-shadow: var(--card-shadow);
      background-color: #fff;
      align-items: center;

      .img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }

      .info_container {
        padding: 10px 0 0 40px;

        .name {
          font-size: 40px;
          padding-bottom: 12px;
        }

        .sub_info_container {
          display: grid;
          grid-template-columns: repeat(2, auto);
          justify-content: flex-start;
          row-gap: 10px;
          column-gap: 12px;
        }
      }
    }
    .upload_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .file_name {
      font-size: 15px;
      padding: 10px;
    }
  }

  .bottom_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 10px;
    row-gap: 15px;
    column-gap: 10px;

    .education {
      background-color: #fff;
      padding: 10px 10px 10px 25px;
      border-radius: 15px;
      box-shadow: var(--card-shadow);
      height: min-content;

      .separator {
        height: 1px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 2px;
      }

      .label {
        font-size: 22px;
      }

      .education_title {
        font-size: 30px;
        font-weight: 600;
      }

      .spacer {
        padding: 5px;
      }
    }
    .more_info {
      background-color: #fff;
      padding: 10px 10px 10px 25px;
      border-radius: 15px;
      box-shadow: var(--card-shadow);
      height: min-content;

      .more_info_title {
        font-size: 30px;
        font-weight: 600;
      }
      .info_fields_container {
        padding-top: 10px;
      }
    }
    .user_stats {
      background-color: #fff;
      padding: 10px 10px 10px 25px;
      border-radius: 15px;
      box-shadow: var(--card-shadow);
      height: min-content;

      .user_stats_title {
        font-size: 30px;
        font-weight: 600;
      }
      .user_stats_fields_container {
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 2px solid #0077b5;
        border-radius: 40px;

        &:hover {
          color: white;
          background-color: #0077b5;
          .profile_link {
            color: #fff;
          }
        }
      }
      .profile_link {
        font-weight: 600;
        text-decoration: underline;
        text-align: center;
        color: #0077b5;
        transition: 0.5s;
      }
    }
    .cluster {
      background-color: #fff;
      padding: 10px 10px 10px 25px;
      border-radius: 15px;
      box-shadow: var(--card-shadow);
      height: min-content;

      .cluster_title {
        font-size: 30px;
        font-weight: 600;
      }
    }
  }
}
