.container {
  width: 100%;
  max-width: var(--form-max-w);
  padding: 0.5rem 0 1.2rem 0;
  background-color: #fff;
  border-radius: 0.5rem;

  @media screen and (max-width: 525px) {
    padding: 1rem;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    padding: 1rem 1rem 6px 1rem;
    color: #282828;
    margin: 0 1rem;
    border-bottom: 1.5px solid var(--text-color-primary);

    @media screen and (max-width: 525px) {
      padding: 0 0 0.5rem 0;
      margin: 0;
    }
  }

  .form {
    max-width: 600px;
    margin: auto;

    .field {
      padding: 0 1rem;

      input,
      select {
        background-color: #f9f9f9;
      }

      .heading {
        font-size: 18px;
        font-weight: 600;
        color: #282828;

        @media screen and (max-width: 525px) {
          padding: 0;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

.table_container {
  background-color: #fff;
  margin-top: 1.5rem;
  max-width: 100%;
  padding: 0 1rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.checkbox {
  max-width: var(--form-max-w);
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}

.btn_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--form-max-w);
  justify-content: flex-end;
}

.HRForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
