.container {
  width: 100%;
  max-width: var(--form-max-w);
  padding: 0.5rem 0 1.2rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 525px) {
    padding: 1rem;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    padding: 1rem 1rem 6px 1rem;
    color: #282828;
    margin: 0 1rem;
    border-bottom: 1.5px solid var(--text-color-primary);

    @media screen and (max-width: 525px) {
      padding: 0 0 0.5rem 0;
      margin: 0;
    }
  }

  .form {
    max-width: 600px;
    margin: auto;

    .field {
      padding: 0 1rem;

      input,
      select {
        background-color: #f9fafb;
        border: 1px solid #d2d6dc;
        color: #1f2937;
        font-size: 16px;
        border-radius: 0.375rem;
        outline: none;
        width: 100%;
        padding: 0.75rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .heading {
        font-size: 18px;
        font-weight: 600;
        color: #282828;

        @media screen and (max-width: 525px) {
          padding: 0;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

.table_container {
  background-color: #fff;
  margin-top: 1.5rem;
  max-width: 100%;
  padding: 0 1rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.checkbox {
  max-width: var(--form-max-w);
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}

.btn_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--form-max-w);
  justify-content: flex-end;
}

.HRForm {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 50px;
}

.label {
  font-size: xx-large;
}

.consent_container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.consent_label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: small;
  color: rgb(96, 96, 96);
  // font-variant:initial;
}

.consent_checkbox {
  width: 20px;
  height: 20px;
}

.btn {
  // mt-1 font-semibold text-xs bg-[#EcECF1] py-1 px-2 rounded-[5px] text-black
  color: whitesmoke;
  background-color: #4683fd;
  padding: 8px;
  border-radius: 4px;
  border: #4683fd 1px solid;
  // outline: none !important;
  cursor: pointer;
  &:hover {
    background-color: #1e3a8a;
    border: #4683fd 1px solid;
  }
}
.disabled-submit {
  background-color: #4683fdd6;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1 part and 3 parts */
  gap: 10px; /* Adjust the gap between columns as needed */
}

@media (max-width: 1000px) {
  .grid_1_2 {
    display: block;
  }
  .HRForm {
    justify-content: center;
  }
}
