.info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
  row-gap: 20px;
  place-items: start;
  padding-top: 15px;

  .img_upload_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    border: 2px dashed #eee;
    border-radius: 10px;
    transition: ease 0.2s;
    cursor: pointer;

    &:hover {
      border-radius: 10px;
      border: 2px dashed;
      border-color: #0081c9;
    }
    .icon {
      padding-left: 10px;
    }
  }
}

.info_container {
  background-color: #fff;
  box-shadow: var(--card-shadow);
  width: min-content;
  border-radius: 15px;
  transition: ease 0.2s;
  padding: 25px 35px;

  .heading {
    font-size: 40px;
    line-height: 40px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  place-items: center;
  row-gap: 2.5rem;
  height: 100%;
  padding: 1rem 2.5rem;
  .info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 20px;
    place-items: start;
    padding-top: 15px;

    .img_upload_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 40px;
      border: 2px dashed #eee;
      border-radius: 10px;
      transition: ease 0.2s;
      cursor: pointer;

      &:hover {
        border-radius: 10px;
        border: 2px dashed;
        border-color: #0081c9;
      }
      .icon {
        padding-left: 10px;
      }
    }
  }

  .info_container {
    background-color: #fff;
    box-shadow: var(--card-shadow);
    width: 100%;
    border-radius: 15px;
    transition: ease 0.2s;
    padding: 1rem 2.5rem;

    .heading {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

@media only screen and (max-width: 1185px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;

    .info_container {
      .heading {
        font-size: 35px;
      }
    }
  }
}

@media only screen and (max-width: 965px) {
  .container {
    padding: 1.5rem;
    .info_container {
      .info {
        display: grid;
        grid-template-columns: repeat(1, auto);
      }
      .heading {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 1.5rem;
    width: max-content;
  }
}
