.container {
  display: flex;
  background-color: #fff;

  .section {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--card-shadow);
    padding: 1rem;
    height: 100vh;
    position: fixed;

    .heading {
      font-size: 38px;
      font-weight: 600;
      text-align: center;
    }

    @media only screen and (max-width: 1040px) {
      display: none;
    }
  }
  .content {
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 480px);
    padding: 0 1rem;

    @media screen and (max-width: 1040px) {
      width: 100%;
    }

    .animation_container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;

      .animation {
        width: 400px;
        height: 400px;

        @media screen and (max-width: 525px) {
          width: 250px;
          height: 250px;
        }
      }

      .tag_line {
        font-size: 24px;
        text-align: center;
        color: #1976d2;

        @media screen and (max-width: 525px) {
          font-size: 16px;
          padding: 10px;
        }
      }
    }

    .heading {
      font-size: 38px;
      font-weight: 600;
      text-align: center;
      display: none;

      @media screen and (max-width: 1040px) {
        display: block;
        font-size: 24px;
      }
    }

    ::-webkit-scrollbar {
      width: 2px;
      border-radius: 2px;
    }

    .form_container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 700px;
      padding: 2rem;

      .description {
        height: 280px;
        padding-bottom: 40px;

        @media screen and (max-width: 580px) {
          padding-bottom: 60px;
        }
      }

      @media screen and (max-width: 525px) {
        padding: 1rem;
        padding-top: 1.5rem;
      }
    }
  }
}
