.container {
  width: 100%;

  .btn {
    width: 100%;
  }

  .btn_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    width: 100%;
  }

  .is_disabled {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 6px;
  }
}
