@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 300px;
    left: 80%;
    top:0;
    background-color: rgb(255, 255, 255);
    border: solid 2.3px rgb(209, 209, 209);
    border-radius: 0 15px 15px 0;
    position: fixed;
    font-size: 13px;
    padding: 7px 0 0 10px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    cursor: pointer;
}
.item_contained{
    padding-bottom: 20px;
}
.horizontal_line{
    height: 2px;
    width: 21.5em;
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 15px;
}