.card {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  font-family: 'poppins';
  box-shadow: 0px 7px 29px hsla(240, 5%, 41%, 0.2);
  transition: 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .main_container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 5px 10px 10px 10px;
    margin: 0px 10px 0px 10px;

    .img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      align-self: center;
    }

    .info_container {
      padding: 0px 0 0 40px;

      .title {
        font-size: 25px;
        margin-bottom: 0px;
        align-content: flex-start;
        font-family: 'poppins';
        font-weight: 600;
        text-align: start;
      }

      .role {
        font-size: 15px;
        margin-bottom: 10px;
        align-content: flex-start;
        font-family: 'poppins';
        font-weight: 600;
        text-align: start;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  .separator {
    border-top: 3px solid #cfd2cf;
    position: relative;
    top: 25%;
    border-radius: 40px;
  }

  .lower {
    display: flex;
    justify-content: space-between;

    .lower_left {
      width: auto;
      display: flex;

      .lower_fields {
        width: auto;
        margin: 10px 2px 0px 2px;
        padding: 2px 15px 0px 15px;
        border-radius: 20px;
        align-content: center;
        background-color: lightblue;
        text-align: center;
        font-family: 'poppins';
      }
    }

    .lower_right {
      width: auto;
      text-align: right;
      margin-top: 10px;
      font-family: 'poppins';
    }
  }
}
