.form_container{

    .link_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;

        .link{
            color: #1976D2;
            text-decoration: underline;
            padding-left: 2px;
            
        }
    }
    .btn{
        margin-top: 20px;
    }
}