.loader {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_container {
  display: flex;
  flex-flow: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-w);
  margin: auto;
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);
  }

  .post_exp_btn {
    color: #fff;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
  }

  @media screen and (max-width: 525px) {
    padding: calc(1.7rem + var(--nav-height)) 1rem 0.7rem 1rem;

    .page_name {
      font-size: 28px;
      line-height: 36px;
    }

    .post_exp_btn {
      width: 100%;
      text-align: center;
    }
  }
}

.animation_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .animation {
    height: 60%;
    width: 75%;

    @media screen and (max-width: 650px) {
      height: 300px;
      width: 300px;
    }
  }
}

.content {
  display: flex;
  padding: 1rem 2rem;
  gap: 1.6rem;
  max-width: var(--max-w);
  margin: auto;

  .posts_grand {
    height: 100%;
    width: 100%;

    .posts {
      .lottie_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading {
          font-size: 25px;
          font-weight: 600;
        }

        .para {
          font-size: 20px;
        }
      }
    }
  }

  .filter_container {
    width: 270px;
    flex-shrink: 0.2;
    top: calc(var(--nav-height) + 1.6rem);
    overflow-y: auto;
    max-height: calc((100vh - var(--nav-height) - 3rem));
    position: sticky;

    @media screen and (max-width: 880px) {
      display: none;
    }
  }

  .filter_mobile_container {
    display: none;

    @media screen and (max-width: 880px) {
      display: flex;
      float: right;
      position: fixed;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      justify-content: center;
      bottom: 0;
      right: 0;
      margin: 0px 10px 20px;
      background-color: var(--custom-white-v1);
      padding-top: 15px;

      &:hover {
        color: #aaa;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 880px) {
    gap: 0rem;
  }

  @media screen and (max-width: 525px) {
    padding: 1rem;
  }
}

.seperator {
  height: 1px;
  background-color: #cfd2cf;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
