.resources {
  max-width: var(--max-w);
  margin: auto;

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);
    max-width: var(--max-w);
    margin: auto;
    padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;

    @media screen and (max-width: 525px) {
      font-size: 28px;
      padding: calc(1.5rem + var(--nav-height)) 1rem 0.5rem 1rem;
    }
  }
}
