.header {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--custom-white-v1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .content {
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-w);
    margin: auto;
    padding: 0 1rem;

    .hamburger {
      cursor: pointer;
      display: none;
      margin-top: 2px;

      .icon {
        font-size: 20px;
        font-weight: 100;
        color: var(--custom-black);
      }

      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    .overlay {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      inset: 0;
      width: 100vw;
      height: 100vh;
      transition: opacity 0.1s ease;
      transition-delay: 0.2s;
      background-color: rgba($color: #000000, $alpha: 0.3);
      z-index: 4;

      .sidebar_container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        translate: -100% 0;
        transition: translate 0.3s ease;
        pointer-events: all;

        @media screen and (max-width: 1150px) {
          display: block;
        }
      }
    }

    .show {
      opacity: 1;
      transition-delay: 0s;

      .sidebar_container {
        translate: 0 0;
      }
    }

    .title_container {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        width: 32px;
      }

      .logo {
        display: flex;
        gap: 0.5rem;
        font-size: 22px;
        font-weight: 500;
        margin-left: 0.7rem;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .nav_items {
      display: flex;
      gap: 1.2rem;
      padding-right: 1rem;
      height: 100%;

      @media screen and (max-width: 767px) {
        display: none;
      }

      .nav_item {
        text-decoration: none;
        font-size: 14px;
        letter-spacing: -0.02em;
        align-self: center;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        a {
          height: 100%;
        }

        .selected::before {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          height: 1.5px;
          background-color: #000000;
        }
      }
    }

    .profile_img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: #2d2b2b;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
    }

    .option {
      padding: 4px 0px;
      font-size: 14px;
      cursor: pointer;
    }

    .menu {
      padding-right: 1rem;

      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }
  }
}
