.root {
  // font-family: Arial, sans-serif;
  // padding: 20px;
  // border: 1px solid #ccc;
  // margin: 20px auto;
  // margin-top: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  // // text-align: center;
  // width: 35rem;
  // height: auto;
  // font: 1em sans-serif;

  width: 100%;
  max-width: var(--form-max-w);
  padding: 0.5rem 0 1.2rem 0;
  background-color: #fff;
  border-radius: 0.5rem;

  @media screen and (max-width: 525px) {
    padding: 1rem;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
  }
}

.form-group {
  // flex items-center gap-2 mb-2
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  gap: 2;
  margin-bottom: 2;
  padding: 0 1rem;
  margin: auto;

  .title {
    font-size: 24px;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
    // font-family: 'Times New Roman', Times, serif !important;
    padding: 1rem 1rem 6px 1rem;
    color: #282828;
    margin: 0 1rem;
    border-bottom: 1.5px solid var(--text-color-primary);

    @media screen and (max-width: 525px) {
      padding: 0 0 0.5rem 0;
      margin: 0;
    }
  }
  .rigid {
    background-color: rgba(238, 244, 244, 0.062) !important;
  }
  .flex1 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  span {
    margin: 5px;
  }
  .label {
    // block text-sm font-medium text-gray-900
    margin-top: 3px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #1f2937;
  }
  .disect {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a grid with two equal columns */
    gap: 20px; /* Adjust the gap between columns */

    @media screen and (max-width: 525px) {
      grid-template-columns: repeat(1, 1fr); /* Creates a grid with two equal columns */
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
  }

  .Recruitment-process {
    margin: 10px;
  }

  .form-control {
    // bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#6469ff] focus:border-[#6469ff] outline-none block w-full p-3
    background-color: #f9fafb;
    border: 1px solid #d2d6dc;
    color: #1f2937;
    font-size: 16px;
    border-radius: 0.375rem;
    outline: none;
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    &:focus {
      border-color: #6469ff;
      outline: none;
    }
  }
}

.Recruitment-process-item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  gap: 2;
  margin-bottom: 2;
  .Recruitment-process-item-heading {
    color: rgb(96, 96, 96);
  }

  div {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    label {
      display: flex;
      flex-direction: row;
    }
  }
}
.bracket {
  color: rgb(96, 96, 96);
  font-size: small;
}
.small-text {
  color: rgb(96, 96, 96);
  font-size: 0.8rem;
}
.size-reduce {
  width: 9em;
  height: min-content;
}
.date-container {
  display: flex;
  gap: 0.5em;
}
