.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #07d410;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
}

.checkBox input[type='checkbox']:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type='checkbox'] {
  position: relative;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}
