@use '../../index.scss' as main;
.recent_experiences {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-white-v1);

  .message {
    font-size: var(--md-heading);
    font-weight: 600;
    color: var(--text-color-primary);
  }
}

.recent_experiences_title {
  font-size: var(--md-heading);
  font-weight: 600;
  color: var(--text-color-primary);
  padding-bottom: 2px;
}

.recent_experiences_container {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--custom-white-v1);
  overflow-y: scroll;
  @include main.thin_scrollbar;
}

.list_item {
  text-decoration: none;
  display: flex;
  margin-top: 0.8rem;

  .pic {
    padding: 8px 10px;
    margin-right: 14px;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .contents {
      .name {
        font-size: 14px;
        color: var(--text-color-primary);
        font-weight: 600;
      }

      .date {
        font-size: 13px;
        color: rgb(181, 181, 181);
      }
    }

    .btn_container {
      display: flex;
    }
  }
}
