.containerbg {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  cursor: initial;

  .container {
    background-color: #fefefe;
    margin: var(--nav-height) 0%;
    padding: 20px 0px;
    padding-left: 5px;
    box-shadow: var(--card-shadow);
    width: 100%;
    height: 96vh;
    top: calc(var(--nav-height) + 2rem);
    overflow-y: auto;
    position: sticky;

    .close {
      color: #aaa;
      float: right;
      font-size: 40px;
      font-weight: bold;
      background-color: #fff;
      border: #fff;
      position: absolute;
      right: 0;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 767px) {
      &::-webkit-scrollbar {
        width: 3px;
      }
    }
  }
}
