.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 95%;
  min-width: 400px;

  .icon {
    width: 20px;
    height: 20px;
  }

  .fields_container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .cluster_title {
      font-size: 20px;
      font-weight: 600;
    }
    .cluster_range {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 1225px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

    .fields_container {
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .cluster_title {
        font-size: 18px;
        font-weight: 600;
      }
      .cluster_range {
        font-size: 12px;
      }
    }
  }
}
