.container {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  width: 100%;

  .icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
  }

  .fields_container {
    display: flex;
    align-items: center;
    padding-left: 10px;

    .cluster_title {
      font-size: 16px;
      font-weight: 600;
    }
    .cluster_range {
      font-size: 14px;
      padding-left: 10px;
    }
  }
}

@media only screen and (max-width: 1225px) {
  .container {
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 10px;

    .fields_container {
      display: flex;
      padding-left: 10px;

      .cluster_title {
        font-size: 12px;
        font-weight: 600;
      }
      .cluster_range {
        font-size: 12px;
      }
    }
  }
}
