.container {
  display: flex;
  background-color: #fff;

  .section {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--card-shadow);
    padding: 1rem;
    height: 100vh;
    position: fixed;

    .heading {
      font-size: 38px;
      font-weight: 600;
      text-align: center;
    }

    @media only screen and (max-width: 1040px) {
      display: none;
    }
  }

  .content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 480px);
    padding: 2rem 2rem;
    min-height: 100vh;

    @media screen and (max-width: 1040px) {
      width: 100%;
      padding: 2rem 1rem;
    }

    .tabs_container {
      width: 70%;
    }

    ::-webkit-scrollbar {
      width: 2px;
      border-radius: 2px;
    }

    @media screen and (max-width: 580px) {
      padding: 1rem;
    }
  }
}
