.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
  gap: 1.6rem;
  max-width: var(--max-w);
  margin: auto;

  @media screen and (max-width: 768px) {
    padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;
    gap: 1rem;
  }

  @media screen and (max-width: 525px) {
    padding: calc(1.5rem + var(--nav-height)) 1rem 1.5rem 1rem;
    flex-direction: column;
  }

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);
    align-self: flex-start;

    @media screen and (max-width: 525px) {
      font-size: 28px;
    }
  }
}

.page_body {
  gap: 1rem;
  padding: 0rem 2rem;
  max-width: var(--max-w);
  margin: auto;

  .faq_title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 1rem;
  }

  @media screen and (max-width: 525px) {
    padding: 0rem 1rem;
  }
}
