.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  padding: calc(2rem + var(--nav-height)) 1.6rem 0.8rem 2rem;
  gap: 1.6rem;

  @media screen and (max-width: 850px) {
    width: 100%;
    padding: calc(2rem + var(--nav-height)) 2rem 0.8rem 2rem;

    @media screen and (max-width: 526px) {
      padding: calc(1.5rem + var(--nav-height)) 1rem 1.5rem 1rem;
      flex-direction: column;
    }
  }

  .page_name {
    font-size: var(--lg-heading);
    font-weight: 600;
    color: var(--text-color-primary);

    @media screen and (max-width: 525px) {
      font-size: 28px;
    }
  }

  .search_box {
    position: relative;

    .input_icon {
      height: 22px;
      padding: 10px 0 0 10px;
      position: absolute;
    }

    .input {
      max-width: 200px;
      height: 45px;
      border-radius: 7px;
      border: 0;
      background-color: white;
      outline: auto rgb(255, 255, 255);
      padding-inline: 40px;
      font-size: 20px;
    }
  }
}
