.app {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1rem 2rem;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1 {
      font-weight: 500;
      font-size: 56px;
      padding-bottom: 1rem;
    }

    p {
      font-size: 26px;
    }
  }
}
