*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(244, 244, 244);
  --nav-height: 52px;
  --nav-shadow: hsla(240, 5%, 41%, 0.2) 0px 7px 29px 0px;
  --sidebar-width: 220px;
  --card-shadow: 0px 7px 29px hsla(240, 5%, 41%, 0.2);
  --custom-white-v1: rgb(252, 252, 252);
  --text-color-primary: rgb(40, 40, 40);
  --lg-heading: 32px;
  --md-heading: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}
